<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>antivirusEngine</key>
    <dict>
      <key>passiveMode</key>
      <false/>
    </dict>
    <key>dlp</key>
    <dict>
      <key>accessibility</key>
      <dict>
        <key>enforcement</key>
        <dict>
          <key>unallowedBrowserMode</key>
          <string>enforce</string>
          <key>pasteToBrowserMode</key>
          <string>enforce</string>
        </dict>
        <key>notification</key>
        <dict>
          <key>customMessage</key>
          <string>Microsoft Endpoint DLP will report this device as non-compliant. Additional restrictions will be in effect until Accessibility has been re-enabled for Microsoft Endpoint DLP</string>
        </dict>
      </dict>
    </dict>
    <key>features</key>
    <dict>
      <key>dataLossPrevention</key>
      <string>enabled</string>
    </dict>
  </dict>
</plist>